*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.loader4-container{
    width:80%;
    height:15em;
    position:absolute;
    top:40%;
    left:47%;
    transform:translate(-50%,-50%) rotate(-20deg);
    /* border:1px solid yellow; */
    animation: loader4-container-anim 12s linear infinite alternate;
    display:flex;
    align-items: center;
    justify-content: center;
}

@keyframes loader4-container-anim{
    to{transform:translate(-50%,-50%) rotate(30deg) ;}
}

.loader4{
    height:100%;
    width:100%;
    top:25%;
    /* border:1px solid greenyellow; */
    /* background-color: greenyellow; */
    position: absolute;
    animation: loader4-anim 1s infinite linear;
    /* animation-delay:0.1s; */
    display: flex;
    justify-content: center;
    -webkit-box-reflect: below 0.1em linear-gradient(transparent 40%,greenyellow 250%,var(--global-bg));
    
}

.loader4:after{
    
    content:'';
    position: absolute;
    width:5px;
    height: 5px;
    /* border-bottom:0.5px solid aliceblue; */
    background: aliceblue;
    top:100%;
    left:66%;
    animation: loader4-after-anim 1s linear infinite;
}

.loader4:before{
    
    content:'';
    position: absolute;
    width:5px;
    height: 5px;
    /* border-bottom:0.5px solid aliceblue; */
    background: aliceblue;
    /* background-color: red; */
    top:100%;
    left:66%;
    animation: loader4-before-anim 1s linear infinite;
}

@keyframes loader4-after-anim{
    0%{opacity:0;transform:translateX(0px);}
    60%{opacity:0;transform:translateX(6em) translateY(0em);}
    100%{opacity:1;transform:translateX(10em) translateY(3em);}
}

@keyframes loader4-before-anim{
    0%{opacity:0;transform:translateX(0px);}
    75%{opacity:0;transform:translateX(7.5em) translateY(0em);}
    100%{opacity:1;transform:translateX(10.5em) translateY(-1em);}
    
}

@keyframes loader4-anim{
    100%{transform:translateX(-10em);}
    
}

.loader4-item{
    height:10em;
    width:10em;
    background:chartreuse;
    position: absolute;
    top: 30%;
    /* left:33%; */
    animation: loader4-item-anim 1s linear infinite;
    transform-origin: bottom right;
    
}

@keyframes loader4-item-anim{
    0%{transform:rotate(0deg);}
    70%{transform:rotate(90deg);}
    75%{transform:rotate(85deg);}
    80%{transform:rotate(90deg);}
    85%{transform:rotate(88deg);}
    90%,100%{transform:rotate(90deg);}
    
    
}
/* 
.loader4-dash{
    width:4em;
    height:1px;
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    background-color:gold;
    position:absolute;
    top:95%;
    left:38%;
    animation:loader4-dash-anim 1s linear infinite;
}

.loader4-dash:nth-child(1){
    
}
.loader4-dash:nth-of-type(2){
    top:120%;
    left:32%;
    animation-delay:0.3s;
    
}

@keyframes loader4-dash-anim{
    0%{transform:translateX(0px) translateY(0px);}
    30%{transform:translateX(-2em) translateY(0px);}
    50%{transform:translateX(-1em) translateY(-0.5em);}
    100%{transform:translateX(2.5em) translateY(-0.5em);}
} */
