/* p{

    font-weight: 400;
} */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    color:#666;
    font-family: 'Comfortaa',cursive;
}

.body{
    background-color: #dcf0f3;
    color:#666;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vmin;
    width:100vw;
    position:absolute;
    top:0;
    z-index: -2;
}

.pop-success{
    background-color: #0ec40e;
    color:#edf;
    padding:1px;
    text-align: center;
    
    position: absolute;
    top:0;
    left:0;
    width:100%;
}
.pop-failure{
    background-color: #f15858;
    color:#edf;
    padding:1px;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    
}


.contact-container{
    background-color: #dcf0f3;
    color:#666;
    width:15em;
    height: 25em;
    position: relative;    
    border-radius:1em;
    box-shadow: 10px 10px 20px #cbced1,
    -10px -10px 20px #fff;
}

.title{
    margin-top:1em;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.fields-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.field-input{
    margin:1.875em 1.25em 0 1.25em;
    padding: 0.625em;
    border: none;
    outline: none;
    background: none;
    border-radius:0.5em;
    box-shadow:inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #fff;
}

.message{
    height:8.5em;
    resize:none;
}

.compliment{
    margin:2.5em 1.25em 0 5em;
    width:50%;
    position: relative;
}

.compliment-tip{
    border-radius:3px;
    padding:2px;
    text-align: center;
    background: #666;
    color:#cbced1;
    position: absolute;
    width:200px;
    left:101%;
    letter-spacing: 0.08rem;
    top:65%;
    font-size:0.75rem;
}



.submit{
    position: absolute;
    bottom:5vmin;
    right:40%;
    padding: 2px;
}


.btn{

    padding:0.3125em 1em;
    outline:none;
    border: none;
    cursor: pointer;
    border-radius:8px;
    background: none;
    color:#666;
    box-shadow: 8px 8px 8px #cbced1,
     -8px -8px 8px #fff;
    transition: all 0.3s;
}


.btn:active{
    color:#000;
}

.btn:hover{
    box-shadow: 
    /* -8px -8px 8px #cbced1, */
    /* 8px 8px 8px #fff, */
    /* inset -2px -2px 20px #cbced1, */
    inset -3px 3px 1px #cbced1,
    inset 3px -3px 1px #fff,
    3px -3px 2px #cbced1;
    /* 8px 8px 8px #fff; */
    color: rgb(27, 161, 27);
}

